.container{
  display:flex;
  justify-content:center;
  padding-bottom:400px;

}
.title{
  text-align: center;
  margin-bottom: 30px;
}
.btn{
display:flex;
justify-content: center;
align-items:center;
list-style: none;
}


ul{
display:flex;
justify-content: center;
align-items:center;
list-style: none;
}

.adj{
display:flex;
justify-content: center;
align-items:center;
list-style: none;
margin-right: 10px
}
.noun{
display:flex;
justify-content: center;
align-items:center;
list-style: none;
margin-right: 50px
}

.name{
display:flex;
justify-content: center;
align-items:center;
list-style: none;
margin-left: 50px
}

.text-primary{
display:flex;
justify-content: center;
align-items:center;
list-style: none;
margin-top:0%;
}
